@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <a href="https://github.com/Martinfree/me-test-task/blob/main/README.md" target="_blank" class="ml-md-auto">About project</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
