<div class="alert alert-secondary mt-4" >
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>
    <strong>
        Case.
    </strong>

    <span class="normal">
        <br>A job of N images is going to be edited by a crew of people:<br>

        Every person have speed property v img/min<br>

        Answer:<br>
        1. How long will this job take in total?<br>

        2. How many images will be edited by every person?<br>
    </span>
    and tell <a href="https://github.com/Martinfree/me-test-task">me</a> what you think.
</div>

@code {

}
